<launch>
  <arg name="use_tls" default="false" />
  <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
    <rosparam file="$(find mqtt_bridge)/config/demo_params.yaml" command="load" />
    <rosparam if="$(arg use_tls)" file="$(find mqtt_bridge)/config/tls_params.yaml" command="load" ns="mqtt" />
  </node>
</launch>
